{{ define "main" }}

{{- partial "header.html" . -}}

<div class="container content m-auto">

    <div id="article" class="w-md-55 m-auto">

        <div class="mt-1 article-title text-capitalize-letter">
            {{ .Title }}
        </div>
        <div class="mt-2 italic post-date">{{ .Date.Format "Jan 2, 2006" }}</div>

        <div class="mt-2 article">
            <!-- check for a tldr.md file and display the markdown -->
            {{ $tldr_path :=  print .File.Dir "tldr.md" }}
            {{ if (fileExists $tldr_path ) }}
            <div class="tldr">
                <div class="font-weight-bold"> > TLDR;</div>
                {{ markdownify (readFile $tldr_path) }}
            </div>
            {{ end }}
            <div>
                {{  .Content | safeHTML }}
            </div>
        </div>

        <div class="mt-2">
                {{ if .Params.series }}
                {{ $name := index .Params.series 0 }}
                <hr/>
                <p><a href="" id="series"></a>This is a post in the 
                <b>{{$name}}</b> series.<br/>
                Other posts in this series:</p>
            
                {{ $name := $name | urlize }}
                {{ $series := index .Site.Taxonomies.series $name }}
                <ul class="series">
                {{ range $series.Pages }}
                    <li>{{.Date.Format "Jan 02, 2006"}} -
                    <a href="{{.Permalink}}">{{.LinkTitle}}</a></li>
                {{end}}
                </ul>
            {{end}} 
            
        </div>

            <!-- previous and next pagination -->
        <div class="mt-4 w-md-80 border-top text-default">
            <div class="d-md-flex d-flex-space-between">
            <div class="w-md-40 pt-2">
                {{ if .PrevInSection }}
                <div class="mb-2 text-medium">
                    <a href="{{.PrevInSection.Permalink}}">Previous</a>
                </div>
                {{ end }}
            </div>

            <div class="w-md-40-max pt-2">
                {{ if .NextInSection }}
                <div class="mb-2 text-medium">
                    <a  href="{{.NextInSection.Permalink}}">Next</a>
                </div>
                {{ end }}
            </div>
            </div>
        </div>

    </div>

</div>




{{ end }}