<aside>
    <div class="toc">
        <nav id="TableOfContents">
            <ul>
                {{ $site_url := .Site.BaseURL }}
                {{ $current_page := .Permalink }}
                {{ $current_path := substr (replace $current_page .Site.BaseURL "" ) 0 -1 }}

                {{ if eq (len $current_path) 0  }}
                    <li><a class="text-underline active" href="/">Home</a></li>
                {{ else }}
                    <li><a class="text-underline" href="/">Home</a></li>
                {{ end }}

                {{ if eq $current_path "journal" }}
                     <li><a class="menu active" href="/journal">Journals</a></li>
                {{ else }}
                     <li><a class="menu" href="/journal">Journals</a></li>
                {{ end }}

                {{ if eq $current_path "news" }}
                    <li><a class="menu active" href="/news">News</a></li>
                {{ else }}
                    <li><a class="menu" href="/news">News</a></li>
                {{ end }}

                {{ if eq $current_path "oped" }}
                     <li><a class="menu active" href="/oped">OP-Ed</a></li>
                {{ else }}
                    <li><a class="menu" href="/oped">OP-Ed</a></li>
                {{ end }}

                {{ if eq $current_path "preprint" }}
                    <li><a class="menu active" href="/preprint">Preprint</a></li>
                {{ else }}
                    <li><a class="menu" href="/preprint">Preprint</a></li>
                {{ end }}

                {{ if eq $current_path "twitter" }}
                    <li><a class="menu active" href="/twitter">Twitter</a></li>
                {{ else }}
                     <li><a class="menu" href="/twitter">Twitter</a></li>
                {{ end }}

                {{ if eq $current_path "/pages/archive" }}
                    <li><a class="menu active" href="/pages/archive">Archive</a></li>
                {{ else }}
                    <li><a class="menu" href="/pages/archive">Archive</a></li>
                {{ end }}

                <li class="mt-4">


                    <li class="text-small">Filter by date:</li>
                    <li data-filter="all" class="filter-item cursor-pointer">All</li>
                    {{ range $value := .Site.Pages.GroupByDate "January 2006" }}
                    {{ $year_month := (index $value.Pages 0).Date.Format "2006/01" | urlize }}
                    <li class="filter-item cursor-pointer" data-filter="{{$year_month}}">{{ .Key }}</li>
                    {{ end }}


                </li>
            </ul>

        </nav>
    </div>
</aside>

<script src="/js/filter.js"></script>