<div class="container m-auto">
    <footer>
        <div class="d-flex d-flex-space-between">
            <div>
<!--                <span><a class="text-black text-decoration-none" href="{{ .Site.Params.motivation }}">motivation</a></span>
                <span><a class="text-black text-decoration-none" href="{{ .Site.Params.guidelines }}">write a guide</a></span>
                <span><a class="text-black text-decoration-none" target="_blank" href="{{ .Site.Params.gitter }}">chat</a></span>
            </div>
            <div>
                <span><a class="text-black text-decoration-none" target="_blank" href="{{ .Site.Params.source }}">source</a></span>
-->            </div>
        </div>
    </footer>
</div>

