{{ $reg_pages :=  .Site.RegularPages  }}
{{ $recent := ($reg_pages | last 50).Reverse }}


<div class="container m-auto">
    <div class="w-md-55 m-auto">
        <h2>Recent</h2>
        <ul>
            {{ range $recent }}
                <li class="mt-1">   
                     <a href="{{ .RelPermalink }}">{{ .Title }}</a>  
                    <div>
                        <span class="mark">{{ .Date.Format "Jan 02" }} </span>
                        <!-- show work in progress status -->
                        {{ if .Params.wip }}
                             <span class="mark">work in progress</span>
                        {{ end }}
                        <span class="mark">{{  .File.Dir }}</span>
                        <span class="mark">{{ .Params.Summary }}</span>
                    </div>
                   
                </li>
            {{ end }}
            </ul>
    </div>
</div>
